<h1>Results</h1>
<div>
  Sorted numbers
</div>
<div>
<%= @sorted_numbers%>
</div>
<div>
Count</div>
<div>
<%= @count%>
</div>
<div>
  Minimum
</div>
<div>
<%= @minimum%>
</div>
<div>
  Maximum
</div>
<div>
<%= @maximum%>
</div>
<div>
  Range
</div>
<div>
<%= @range%>
</div>
<div>
Median
</div>
<div>
<%= @median%>
</div>
<div>
Sum
</div>
<div>
<%= @sum%>
</div>
<div>
Mean
</div>
<div>
<%= @mean%>
</div>
<div>
Variance
</div>
<div>
<%= @variance%>
</div>
<div>
Standard Deviation
</div>
<div>
<%= @standard_deviation%>
</div>
<div>
Mode
</div>
<div>
<%= @mode%>
</div>
