<h1>Word Count Results</h1>
<div>
  Text
</div>
<div>
<%= @text%>
</div>
<div>
Word Count
</div>
<div>
<%= @word_count%>
</div>
<div>
Character Count (with spaces)
</div>
<div>
<%= @character_count_with_spaces%>
</div>
<div>
Character Count (without spaces)
</div>
<div>
<%= @character_count_without_spaces%>
</div>
<div>
Occurrences of <%= @special_word%>
</div>
<div>
<%= @occurrences%>
</div>
